@import url("./styles/common.css");
@import url("./styles/measurements.css");
@import url("./styles/colors.css");

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
      'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', Roboto, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

#root {
   font-family: 'Roboto', sans-serif;
}

label, button span {
   font-family: 'Roboto Bold', sans-serif;
}

p {
   font-family: 'Roboto', sans-serif;
}

